
@{
    ViewData["Title"] = "CreateTicket";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h1>CreateTicket</h1>


@section Images
{
    <div  style="background-image:url('@ViewBag.crr.Image') ; margin:auto; width:100px ; height:100px ; border-radius:50%;background-size:cover; background-position:center; background-repeat:no-repeat ;"></div>
}
@section Namess
{
    <h5>@ViewBag.crr.Name</h5>
}
<form class="container" asp-action="CreateTicket"  asp-controller="Admin" method="post"> 
    <label>Price</label>
    <input type="text" placeholder="Price" name="Price" class="form-control" />
    <label>Travel From</label>
    <input type="text" placeholder="Price" name="TravelTimeFrom" class="form-control" />
    <label>Travel To</label>
    <input type="text" placeholder="Price" name="TravelTimeTo" class="form-control" />
    <label>flight ID</label>
    <select name="FlightID" class="form-control">
        
        @foreach (var item in ViewBag.Flight)
        {
            <option value="@item.ID">@item.Name</option>
        }
       
    </select>
    <br />
    <br />
    <input type="submit" class="btn btn-success" />
</form>

